:root {
  --panel-dark-bg: #02484d;
  --panel-dark-text: #06beb5;

  --panel-light-bg: #06beb5;
  --panel-light-text: #02484d;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.auth-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: var(--panel-light-bg);
}

.panel {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  height: 100%;
}

#loginPanel {
  left: 0;
  background-color: var(--panel-dark-bg);
  color: var(--panel-dark-text);
}

#signupPanel {
  left: 100%;
  background-color: var(--panel-light-bg);
  color: var(--panel-light-text);
}

.auth-container.login-active #loginPanel {
  left: 0;
}
.auth-container.login-active #signupPanel {
  left: 100%;
}

.auth-container.signup-active #loginPanel {
  left: -100%;
}
.auth-container.signup-active #signupPanel {
  left: 0;
}
