* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-image: url('images/bg\ wallpaper.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  background: #fff;
  width: 340px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #4f46e5;
}

.game-title {
  font-size: 28px;
  margin-bottom: 30px;
  color: #4f46e5;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}

input:focus {
  border-color: #4f46e5;
}

button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #4f46e5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}

.switch {
  font-size: 14px;
}

.switch span {
  color: #4f46e5;
  cursor: pointer;
  font-weight: bold;
}

.hidden {
  display: none;
}
.switch button {
  background: none;
  border: none;
  color: #4f46e5;
  cursor: pointer;
  font-weight: bold;
}
